In [19]:
import pandas as pd
df = pd.read_csv("transacciones_simuladas 2.csv")
print(df.head())

   id_transaccion  id_cliente   nombre_cliente           cuenta_origen  \
0               1        2783    Philip Knight  ES72380307822087479772
1               2        3696   William Harmon  ES74956814146097211403
2               3        6403     Amanda Lewis  ES94278160534459740595
3               4        1156  Victoria Burton  ES18259905541180196560
4               5        2653       Todd Young  ES59522414203568104424

        fecha     monto divisa tipo_transaccion     ciudad  \
0  13/09/2025  31551.32    USD    transferencia  Queretaro
1  16/09/2025  36889.11    MXN           retiro     Juarez
2  04/07/2025  30644.10    MXN           retiro      Paris
3  06/09/2025   7869.29    USD           retiro     Juarez
4  03/04/2025  37940.37    MXN           retiro     Puebla

           cuenta_destino categoria_comercio
0  ES19946920183191759474                NaN
1                     NaN                NaN
2                     NaN                NaN
3                     NaN                NaN
4                     NaN                NaN

In [20]:
transacciones_por_tipo = df.groupby('tipo_transaccion').size()
print(transacciones_por_tipo)

tipo_transaccion
compra           3352
retiro           3278
transferencia    3370
dtype: int64

In [21]:
ordenar_datos_tipo_transaccion = df.sort_values('monto', ascending=False)
print(ordenar_datos_tipo_transaccion)

      id_transaccion  id_cliente     nombre_cliente           cuenta_origen  \
3444            3445        4508        Laura Price  ES25203010770036579757
5374            5375        8796     Frances Joseph  ES82043997879436965728
3330            3331        7016       Susan Barnes  ES97485046117969424317
6515            6516        7295  Samantha Caldwell  ES25328975908033588586
8904            8905        7606   Michael Melendez  ES56719779144675253265
...              ...         ...                ...                     ...
9855            9856        6585     Todd Alexander  ES10013068113377650484
3780            3781        6163   Anthony Robinson  ES16710412900903321238
8444            8445        2447     Rebecca Wilson  ES38819480875585776823
8164            8165        4650      Randall Rojas  ES53062048260782992115
5865            5866        4052      Jeffery Terry  ES64780977484269501261

           fecha     monto divisa tipo_transaccion       ciudad  \
3444  23/09/2025  49995.63    MXN           compra  Guadalajara
5374  27/04/2025  49992.38    EUR    transferencia         Leon
3330  03/09/2025  49988.09    USD           compra  Guadalajara
6515  13/07/2025  49986.96    USD           retiro    Queretaro
8904  03/09/2025  49981.24    USD           compra       Merida
...          ...       ...    ...              ...          ...
9855  20/06/2025     77.53    MXN    transferencia      Tijuana
3780  26/06/2025     71.74    MXN           compra      Torreon
8444  02/05/2025     53.80    EUR    transferencia       Juarez
8164  08/05/2025     53.73    USD    transferencia       Puebla
5865  06/04/2025     50.83    EUR    transferencia  Guadalajara

              cuenta_destino categoria_comercio
3444                     NaN               ropa
5374  ES22967848312916265659                NaN
3330                     NaN               ropa
6515                     NaN                NaN
8904                     NaN       supermercado
...                      ...                ...
9855  ES55110140151279554441                NaN
3780                     NaN             viajes
8444  ES21243857163792819573                NaN
8164  ES56992091497801652565                NaN
5865  ES28448693016488568683                NaN

[10000 rows x 11 columns]

In [22]:
ciudades_mexico = ['Queretaro', 'Juarez', 'Puebla', 'Monterrey', 'Merida', 'Leon', 'CDMX', 'Torreon', 'Tijuana', 'Guadalajara']
transacciones_extranjeras = df[~df['ciudad'].isin(ciudades_mexico)]
print("Transacciones extranjeras:")
print(f"Total: {len(transacciones_extranjeras)} transacciones")
print("Ciudades extranjeras encontradas:")
print(transacciones_extranjeras['ciudad'].unique())

Transacciones extranjeras:
Total: 35 transacciones
Ciudades extranjeras encontradas:
['Paris' 'Madrid' 'Brasil' 'Barcelona' 'Los Angeles' 'Sidney' 'London'
 'Bogota' 'Boston' 'New York' 'Buenos Aires' 'Montreal' 'Israel' 'Cali'
 'India' 'China' 'Nigeria' 'Ucrania' 'New york' 'Peru' 'Libia' 'Texas'
 'Milan' 'Moscu']

In [23]:
ciudades = df['ciudad'].unique()
tiene_sudafrica = 'Sudáfrica' in ciudades
print(f"¿Está Sudáfrica? {tiene_sudafrica}")

¿Está Sudáfrica? False

In [24]:
promedio_retiro = df[df['tipo_transaccion'] == 'retiro']['monto'].mean()
print(f"El monto promedio que se retira es: {promedio_retiro:.2f}")

El monto promedio que se retira es: 24861.53

In [25]:
retiro_mayor = df[df['tipo_transaccion'] == 'retiro'].sort_values('monto', ascending=False).iloc[0]
print("El retiro mayor fue:")
print(retiro_mayor)

El retiro mayor fue:
id_transaccion                          6516
id_cliente                              7295
nombre_cliente             Samantha Caldwell
cuenta_origen         ES25328975908033588586
fecha                             13/07/2025
monto                               49986.96
divisa                                   USD
tipo_transaccion                      retiro
ciudad                             Queretaro
cuenta_destino                           NaN
categoria_comercio                       NaN
Name: 6515, dtype: object

In [26]:
depositos_entre_20000_35000 = df[(df['tipo_transaccion'] == 'deposito') & (df['monto'] >= 20000) & (df['monto'] <= 35000)]
cantidad_depositos = len(depositos_entre_20000_35000)
print(f"Cantidad de depósitos entre 20000 y 35000: {cantidad_depositos}")

Cantidad de depósitos entre 20000 y 35000: 0

In [27]:
ordenar_por_divisa = df.sort_values('divisa')
print(ordenar_por_divisa)

      id_transaccion  id_cliente         nombre_cliente  \
3738            3739        6681         Michael Kelley
8666            8667        9496            Alicia Roth
4021            4022        7350           April Murphy
4020            4021        3145  Mr. Matthew Henderson
4018            4019        1844        Karen Gillespie
...              ...         ...                    ...
5024            5025        1263       Jamie Castro PhD
5021            5022        7860          Robert Powers
5017            5018        1951           Carrie Cohen
5045            5046        8073             Sean Price
9999           10000        5861          Ashley Nelson

               cuenta_origen       fecha     monto divisa tipo_transaccion  \
3738  ES16733901739406750809  03/09/2025  21737.65    EUR    transferencia
8666  ES11765786593888638867  23/07/2025   1211.74    EUR           compra
4021  ES48763001220803208622  21/04/2025   5210.46    EUR           retiro
4020  ES86933819771996637266  06/07/2025  34956.42    EUR    transferencia
4018  ES77060445755813363612  25/06/2025   8762.97    EUR    transferencia
...                      ...         ...       ...    ...              ...
5024  ES39385730203535601982  02/07/2025  47582.72    USD           retiro
5021  ES49520552631787326429  05/04/2025  42135.93    USD    transferencia
5017  ES10954269547105180780  19/04/2025  31183.09    USD    transferencia
5045  ES42304524226337522447  03/04/2025  23498.11    USD           compra
9999  ES83192720179989181227  04/09/2025  12672.32    USD           retiro

           ciudad          cuenta_destino categoria_comercio
3738      Tijuana  ES82793080901088211360                NaN
8666    Queretaro                     NaN        restaurante
4021       Merida                     NaN                NaN
4020       Merida  ES12749287156953071167                NaN
4018         CDMX  ES23858819105228800409                NaN
...           ...                     ...                ...
5024         CDMX                     NaN                NaN
5021  Guadalajara  ES84905833295519879021                NaN
5017       Juarez  ES64639257285190518951                NaN
5045         CDMX                     NaN          servicios
9999    Monterrey                     NaN                NaN

[10000 rows x 11 columns]

In [35]:
df.sort_values("divisa")

,id_transaccion,id_cliente,nombre_cliente,cuenta_origen,fecha,monto,divisa,tipo_transaccion,ciudad,cuenta_destino,categoria_comercio
4999,5000,2329,Donald Morgan,ES68169839959601180323,02/08/2025,4594.55,MXN,compra,Merida,NaN,viajes
3418,3419,6213,Gordon Mitchell,ES18209862838109017654,25/04/2025,1504.04,MXN,transferencia,Queretaro,ES33982298334039108170,NaN
7716,7717,4523,Eric Reed,ES75898608643557555033,25/04/2025,49091.82,MXN,transferencia,Monterrey,ES12534018964908674288,NaN
3420,3421,1523,Scott Miller,ES86123276902568711275,18/05/2025,15041.19,MXN,transferencia,Tijuana,ES25507324778634354701,NaN
7714,7715,9180,Crystal Salazar,ES24881617387329624260,30/05/2025,27791.39,MXN,retiro,Puebla,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3999,4000,7160,Patrick Murillo,ES89558746088010734685,27/05/2025,13445.13,USD,transferencia,Puebla,ES13320991241765943956,NaN
3998,3999,8683,Stephanie Jones,ES87373996580107811660,19/05/2025,4188.17,USD,compra,Merida,NaN,supermercado
3995,3996,7341,Joseph Clark,ES21923168982511942003,30/06/2025,4632.10,USD,retiro,Monterrey,NaN,NaN
4011,4012,7535,Cathy Cowan,ES20889320081477534025,09/09/2025,34561.87,USD,retiro,Queretaro,NaN,NaN
9999,10000,5861,Ashley Nelson,ES83192720179989181227,04/09/2025,12672.32,USD,retiro,Monterrey,NaN,NaN

In [36]:
df["divisa"].replace("EUR", "USD")

0       USD
1       MXN
2       MXN
3       USD
4       MXN
       ...
9995    USD
9996    USD
9997    MXN
9998    USD
9999    USD
Name: divisa, Length: 10000, dtype: object